body {
    background-color: #CBD5E1;
    color: #111827;
    font-family: 'Poppins', sans-serif;
}

.navbar-personalizado {
    background-color: #2563EB;
}

.marca {
    font-weight: 600;
    color: white;
}

.titulo-principal {
    text-align: center;
    color: #1E40AF;
    margin-bottom: 20px;
}

.subtitulo {
    color: #F59E0B;
    margin-top: 30px;
    margin-bottom: 10px;
}

.caja-texto {
    background-color: #ffffffa1;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #E4E7EC;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.btn-outline-success {
    border-color: #2563EB;
    color: #2563EB;
}

.btn-outline-success:hover {
    background-color: #2563EB;
    color: white;
}

.btn-outline-light {
    border-color: #F59E0B;
    color: #F59E0B;
}

.btn-outline-light:hover {
    background-color: #F59E0B;
    color: white;
}